{
  "root": false,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "eslint:recommended"],
  "parserOptions": {
    "requireConfigFile": false,
    "parser": "@babel/eslint-parser"
  }
}
